@keyframes changeBackground {
    0% {
      background-image: url('images6.jpg');
    }
    33.33% {
      background-image: url('images4.jpg');
    }
    66.66% {
      background-image: url('images6.jpg');
    }
    100% {
      background-image: url('images4.jpg');
    }
  }
body{
    background-image: url('images4.jpg');
    animation: changeBackground 6s linear infinite;
  }
  .show-content .instructions-box {
    opacity: 1;
    transform: translateY(0);
  }
  
  .show-content h4 {
    font-size: 28px;
    color: #3498db;
    margin-bottom: 20px;
  }
  .camera-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .action-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .camera-view {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  